<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">La consommation de mon habitation</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    	<div class="col-lg-2"></div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading" id="vignette1">
                    <div class="row">
                        <div class="col-xs-6">
                        	<div class="huge">Hier : </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">275</div>
                            <div>Watt-heure</div>
                        </div>
                    </div>
                </div>
                <a ng-click="toggle1()" style="cursor: pointer;">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <label id="lbBtnVign1">Voir l'équivalence</label>
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading" id="vignette2">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">Début : </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">1 312</div>
                            <div>Watt-heure</div>
                        </div>
                    </div>
                </div>
                <a ng-click="toggle2()" style="cursor: pointer;">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <label id="lbBtnVign2">Voir l'équivalence</label>
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Évolution de la consommation
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Moi</a>
                                </li>
                                <li><a href="#">Mon groupe</a>
                                </li>
                                <li><a href="#">Ma classe</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Graphique en batons</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="class-points-history-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
<!-- Morris Charts JavaScript -->
<script src="../../app/bower_components/raphael/raphael-min.js"></script>
<script src="../../app/bower_components/morrisjs/morris.min.js"></script>
<script src="../../app/data/morris-data.js"></script>