<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mascotte</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Comment fonctionne Walter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="walter" style="margin-left: auto; margin-right: auto;">
                            </div>
                            <div style="text-align: center; margin-top: 10px; font-weight:bold;">
                                Walter l'Ours Polaire
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: 20px;">
                                    <label>Evénements Internes</label>
                                    <div class="color-legend col-lg-12">
                                        <div class="cercle col-lg-1" style="background: blue;"></div>
                                        <div class="col-lg-11" style="margin-top: 15px;">Economies d'énergie</div>
                                    </div>
                                    <div class="color-legend col-lg-12">
                                        <div class="cercle col-lg-1" style="background: red;"></div>
                                        <div class="col-lg-11" style="margin-top: 15px;">Sur-consommation d'énergie</div>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                                <div class="col-lg-12" style="margin-top: 20px;">
                                    <label>Evénements Externes</label>
                                    <div class="color-legend col-lg-12">
                                        <div class="cercle col-lg-1" style="background: grey;"></div>
                                        <div class="col-lg-11" style="margin-top: 15px;">Pic de pollution</div>
                                    </div>
                                    <div class="color-legend col-lg-12">
                                        <div class="cercle col-lg-1" style="background: yellow;"></div>
                                        <div class="col-lg-11" style="margin-top: 15px;">Pic de consommation éléctrique nationale</div>
                                    </div>
                                    <div class="color-legend col-lg-12">
                                        <div class="cercle col-lg-1" style="background: brown;"></div>
                                        <div class="col-lg-11" style="margin-top: 15px;">Catastrophe naturelle</div>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-lg-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Démonstration
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <h4 class="fa fa-area-chart fa-5x font-awesome-img"></h4>
                                <div class="caption">
                                    <h3>Couleur du jour</h3>
                                    <p>
                                        Par défaut la couleur de la mascotte est un indicateur des économies réalisées la veille par la classe.
                                    </p>
                                    <p>
                                        <a href="" class="btn btn-warning" role="button" ng-click="resetColor()">Rétablir</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.thumbnail -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <h4 class="fa fa-exclamation fa-5x font-awesome-img"></h4>
                                <div class="caption">
                                    <h3>Évènement extérieur</h3>
                                    <p>
                                        Mais il arrive que des évènements extérieurs changent la couleur de Walter pour attirer le regard des élèves.
                                    </p>
                                    <p>
                                        <a href="" class="btn btn-primary" role="button" ng-click="sendYellowEvent()">Simuler un pic de consommation électrique</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.thumbnail -->
                            <div class="alert alert-success" role="alert" ng-show="success">
                                Évènement déclenché !
                            </div>
                            <!-- /.alert -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
